@import './reset.scss';
@import './mixin.scss';

a {
  color: #000;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: row;

  &-right {
    padding: 40px;
  }
}

.c-navleft {
  min-width: 280px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  min-height: calc(100vh - 64px);
}