.CodeMirror {
  height: auto;
}

.codemirror-enter {
  transform: scaleY(0);
}
.codemirror-enter-active {
  transform: scaleY(1);
  transform-origin: top center;
  transition: transform 300ms;
}
.codemirror-enter-done {
  transform: scaleY(1);
}
.codemirror-exit {
  transform: scaleY(1);
}
.codemirror-exit-active {
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 300ms;
}
.codemirror-exit-done {
  transform: scaleY(0);
}
