.f-btn {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  &-code {
    margin-top: 40px;
  }
  &-demo {
    padding: 20px;
    border: 1px solid #ccc;
    h1 {
      padding-bottom: 20px;
    }
  }
}